# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Quarkus
.quarkus/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Native image
*.so
*.dll
*.exe

# VS Code
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# JWT Keys
*.pem
*.key
*.p12
*.jks
*.pkcs8
privateKey.pem
publicKey.pem

# Environment / secrets
.env
.env.*
application-local.properties
application-dev.properties
